body {
  background-color: #aacfcf;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 60%;
  width: 80%;
}

h1 {
  color: #005082;

}


h3 {
 color: #005082;

}
