body {
  background-color: #084177;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

img {
  height: 60%;
  width: 80%;
}

h1 {
  color: #00a8cc;

}

th{
  color: white;
}
td{
  color: white;
}

h3 {
 color: #00a8cc;

}

p {
  color: white;
}

li{
  color: white;
}

a{
  color: white;
}
a:hover{
  color: aquamarine;
}
